.DocumentTable td {
  max-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.DocumentTable td.id {
  width: 20%;
}
.DocumentTable td.snippet {
  width: 70%;
}
.DocumentTable td.vote {
  width: 5%;
}
.DocumentTable td.status {
  width: 5%;
}

.DocumentTable td.status.ok {
  background-image: url(images/1f34f.svg);
  background-repeat:no-repeat;
  background-position: center;
  background-size: contain;
}
.DocumentTable td.status.fail {
  background-image: url(images/1f6d1.svg);
  background-repeat:no-repeat;
  background-position: center;
  background-size: contain;
}
